 body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: flex-end; /* 将内容靠右对齐 */
            align-items: center;
            height: 100vh;
            color: #343a40;
            background-color: antiquewhite;
        }
        h1 {
            text-align: left;
            color: #495057;
            margin-bottom: 20px;
            margin-right: 150px;
        }
        form {
            background: rgba(255, 255, 255, 0.8); /* 半透明白色背景 */
            padding: 10px; /* 增加内边距 */
            border-radius: 10px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
        }
        label {
            display: block;
            margin: 15px 0 5px;
            font-weight: bold;
        }
        input[type="number"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            font-size: 16px;
            transition: border 0.3s;
        }
        input[type="number"]:focus {
            border-color: #80bdff;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
        button {
            background-color: #007bff;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            transition: background-color 0.3s, transform 0.2s;
        }
        button:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }
        button:active {
            transform: translateY(0);
        }
        img {
            max-width: 150px;  /* 设置最大宽度 */
            height: auto;      /* 自动高度 */
            margin-right: 200px;    /* 居中对齐 */
            display: flex;     /* 使其成为块级元素 */
        }